html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: #363537;
}

.songs {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.song {
  list-style: none;
  float: left;
  width: 50%;
  height: 200px; /* mobile first */
  background-color: #ef2d56;
  position: relative;
}

.song a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  text-transform: uppercase;
  font-size: 20pt;
  color: white;
}

.song:last-child a {
  font-size: 100pt;
}

.record-todo {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  top: 10px;
  right: 10px;
  position: absolute;
  border: 3px solid white;
}

/*
$color1: #363537;
$color2: #ef2d56;
$color3: #ed7d3a;
$color4: #8cd867;
$color5: #2fbf71
*/

.song:nth-child(4n) {
  background-color: #363537;
}
.song:nth-child(4n-3) {
  background-color: #363537;
  /*
  background: repeating-linear-gradient(
    40deg,
    #ef2d56,
    #ef2d56 10px,
    #363537 10px,
    #363537 20px
  );
  */
}

.create {
  padding: 10px;
}

.create label, .create button, .create input, .record button, .button {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20pt;
  margin-bottom: 10px;
}

.create input {
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #EF2D56;
}

.create input:focus {
  border-color: #ed1240;
  box-shadow: 0 0 2px #ed1240;
}

::-webkit-input-placeholder {
}

:-moz-placeholder { /* Firefox 18- */
}

::-moz-placeholder {  /* Firefox 19+ */
}

:-ms-input-placeholder {  
}

.create button, .record button, .button {
  position: relative;
  vertical-align: top;
  background-color: #EF2D56;
  border: none;
  outline: none;
  border-bottom: 2px solid #ed1240;
  -webkit-box-shadow: inset 0 -2px #ed1240;
  box-shadow: inset 0 -2px #ed1240;
}
.create button:active, .record button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.record .record-button {
  background-color: #ED7D3A;
  border-bottom: 2px solid #eb6b1f;
  -webkit-box-shadow: inset 0 -2px #eb6b1f;
  box-shadow: inset 0 -2px #eb6b1f;
}

.record .stop-button {
  background-color: #ED7D3A;
  border-bottom: 2px solid #eb6b1f;
  -webkit-box-shadow: inset 0 -2px #eb6b1f;
  box-shadow: inset 0 -2px #eb6b1f;
}

.record {
  padding: 10px;
}

.song-show {
  padding: 10px;
}

.song-name {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}


